<a href="https://colab.research.google.com/github/NguyenTrang308/Co2/blob/main/mergedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mục mới

In [ ]:
!git clone 'https://github.com/NguyenTrang308/Co2'
!pip install OleFileIO-PL

Installing collected packages: OleFileIO-PL
Successfully installed OleFileIO-PL-0.31

In [ ]:
import pandas as pd
import OleFileIO_PL

In [ ]:
df = pd.read_csv('Co2/Population.csv')

df.set_index('Unnamed: 0', inplace = True)
df = df.drop(df.columns[11:], axis = 1)

col = list(df.columns)
index = list(df.index)

pop = {'Country': [], 'Year': [], 'Pop': []}

for j in index:
  for i in col:
    pop['Country'].append(j)
    pop['Year'].append(i)
    pop['Pop'].append(str(df[i][j]).replace(',', ''))

pop = pd.DataFrame(pop)
pop['Pop'] = pop['Pop'].astype(int, errors = 'ignore')
pop['Year'] = pop['Year'].astype(int)
pop['Country'] = pop['Country'].astype(str)

pop.info()
print(pop['Year'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2585 non-null   object
 1   Year     2585 non-null   int64
 2   Pop      2585 non-null   int64
dtypes: int64(2), object(1)
memory usage: 60.7+ KB
[2020 2019 2018 2017 2016 2015 2010 2005 2000 1995 1990]

In [ ]:
df1 = pd.read_csv('/content/Co2/PopulationDensity.csv')

df1.set_index('Unnamed: 0', inplace = True)
df1 = df1.drop(df1.columns[11:], axis = 1)

col = list(df.columns)
index = list(df.index)

popden = {'Country': [], 'Year': [], 'Pop_den': []}

for j in index:
  for i in col:
    popden['Country'].append(j)
    popden['Year'].append(i)
    popden['Pop_den'].append(str(df1[i][j]).replace(',', ''))

popden = pd.DataFrame(popden)
popden['Pop_den'] = popden['Pop_den'].astype(int)
popden['Year'] = popden['Year'].astype(int)
popden['Country'] = popden['Country'].astype(str)

popden.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2585 non-null   object
 1   Year     2585 non-null   int64
 2   Pop_den  2585 non-null   int64
dtypes: int64(2), object(1)
memory usage: 60.7+ KB

In [ ]:
data = pd.merge(pop, popden, on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2585 entries, 0 to 2584
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2585 non-null   object
 1   Year     2585 non-null   int64
 2   Pop      2585 non-null   int64
 3   Pop_den  2585 non-null   int64
dtypes: int64(3), object(1)
memory usage: 101.0+ KB

In [ ]:
df1 = pd.read_csv('Co2/ghg-emissions.csv')

df1 = df1.drop(df1.columns[1:107], axis = 1)
df1.set_index('Country/Region', inplace = True)
col = list(df1.columns)
index = list(df1.index)

Co2 = {'Country': [], 'Year': [], 'CO2': []}

for j in index:
  for i in col:
    Co2['Country'].append(j)
    Co2['Year'].append(i)
    Co2['CO2'].append(df1[i][j])

Co2 = pd.DataFrame(Co2)
Co2['CO2'] = Co2['CO2'].astype(float, errors = 'ignore')
Co2['Year'] = Co2['Year'].astype(int)
Co2['Country'] = Co2['Country'].astype(str)

Co2.info()
print(Co2['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13376 entries, 0 to 13375
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  13376 non-null  object
 1   Year     13376 non-null  int64
 2   CO2      13248 non-null  object
dtypes: int64(1), object(2)
memory usage: 313.6+ KB
['China' 'United States' 'India' 'Russia' 'Japan' 'Germany' 'Iran'
 'South Korea' 'Indonesia' 'Canada' 'Saudi Arabia' 'Mexico' 'Brazil'
 'South Africa' 'Turkey' 'Australia' 'United Kingdom' 'Thailand' 'Italy'
 'France' 'Poland' 'Kazakhstan' 'Taiwan, Republic of China' 'Spain'
 'Vietnam' 'Malaysia' 'Ukraine' 'Egypt' 'United Arab Emirates' 'Pakistan'
 'Argentina' 'Iraq' 'Algeria' 'Netherlands' 'Philippines' 'Venezuela'
 'Qatar' 'Nigeria' 'Czech Republic' 'Belgium' 'Kuwait' 'Bangladesh'
 'Singapore' 'Uzbekistan' 'Chile' 'Oman' 'Colombia' 'Romania' 'Greece'
 'North Korea' 'Austria' 'Israel' 'Morocco' 'Peru' 'Belarus'
 'Turkmenistan' 'Serbia' 'Portugal' 'Trinidad and Tobago' 'Hungary'
 'Hong Kong, Special Administrative Region of China' 'Libya' 'Finland'
 'Syria' 'Norway' 'Bulgaria' 'Sweden' 'Ecuador' 'Ireland' 'Azerbaijan'
 'Switzerland' 'Denmark' 'Slovakia' 'New Zealand' 'Cuba' 'Angola'
 'Sri Lanka' 'Bahrain' 'Mongolia' 'Myanmar' 'Tunisia' 'Yemen'
 'Bosnia and Herzegovina' 'Estonia' 'Jordan' 'Kenya' 'Bolivia'
 'Afghanistan' 'Sudan' 'Guatemala' 'Croatia' 'Ghana' 'Lebanon'
 "Côte d'Ivoire" 'Ethiopia' 'Brunei' 'Cameroon' 'Zimbabwe' 'Slovenia'
 'Dominican Republic' 'Lithuania' 'Tanzania' 'Nepal' 'Panama' 'Honduras'
 'Moldova' 'Cambodia' 'Kyrgyzstan' 'Papua New Guinea' 'Mozambique'
 'Georgia' 'Senegal' 'Luxembourg' 'Costa Rica' 'El Salvador' 'Macedonia'
 'Latvia' 'Jamaica' 'Benin' 'Albania' 'Botswana' 'Armenia'
 'Netherlands Antilles' 'Cyprus' 'Paraguay' 'Equatorial Guinea' 'Uruguay'
 'Nicaragua' 'Democratic Republic of the Congo' 'Uganda' 'Zambia' 'Gabon'
 'Mali' 'Mauritius' 'Togo' 'Niger' 'Guinea' 'Mauritania' 'Namibia'
 'Madagascar' 'Iceland' 'Republic of Congo' 'Barbados' 'Burkina Faso'
 'Haiti' 'Tajikistan' 'Montenegro' 'Suriname' 'Lesotho' 'Bahamas' 'Guyana'
 'Macao, Special Administrative Region of China' 'South Sudan' 'Laos'
 'Fiji' 'Maldives' 'Malta' 'Bhutan' 'Malawi' 'Sierra Leone' 'Eswatini'
 'Liberia' 'Rwanda' 'Chad' 'Aruba' 'Cape Verde' 'Djibouti' 'Somalia'
 'Belize' 'Eritrea' 'Gambia' 'Antigua and Barbuda' 'Seychelles' 'Palau'
 'Saint Lucia' 'Timor-Leste' 'Andorra' 'Guinea-Bissau' 'Samoa'
 'Solomon Islands' 'Central African Republic' 'Vanuatu' 'Grenada'
 'Micronesia' 'Saint Kitts and Nevis' 'Marshall Islands' 'Burundi'
 'Saint Vincent and the Grenadines' 'Turks and Caicos Islands' 'Comoros'
 'British Virgin Islands' 'Tonga' 'San Marino' 'Dominica' 'Liechtenstein'
 'Anguilla' 'Kiribati' 'Sao Tome and Principe' 'Cook Islands' 'Monaco'
 'Nauru' 'Niue' 'Holy See\xa0(Vatican City State)' 'Tokelau' 'Tuvalu'
 'Saint Helena' 'Antarctica' 'Data source' 'Data for']

In [ ]:
data = pd.merge(data, Co2, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14242 entries, 0 to 14241
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  14242 non-null  object
 1   Year     14242 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 667.6+ KB

In [ ]:
forest = pd.read_csv('/content/Co2/forestarea.csv')

forest = forest.drop(forest.columns[[0,1,2,4,5,6,7,8,10,11,12,14,15,16]], axis = 1)
forest = forest.rename(columns = {'Area':'Country', 'Value':'Forest'})
forest = forest.convert_dtypes()
forest['Forest'] = forest['Forest'].astype(float)
forest['Year'] = forest['Year'].astype(int)
forest['Country'] = forest['Country'].astype(str)
vn = forest['Country'] == 'Viet Nam'
forest.loc[vn, 'Country'] = 'Vietnam'
us = forest['Country'] == 'United States of America'
forest.loc[us, 'Country'] = 'United States'
han = forest['Country'] == 'Republic of Korea'
forest.loc[han, 'Country'] = 'South Korea'
russia = forest['Country'] == 'Russian Federation'
forest.loc[russia, 'Country'] = 'Russia'
iran = forest['Country'] == 'Iran (Islamic Republic of)'
forest.loc[iran, 'Country'] = 'Iran'
uk = forest['Country'] == 'United Kingdom of Great Britain and Northern Ireland'
forest.loc[uk, 'Country'] = 'United Kingdom'
print(forest['Country'].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belgium-Luxembourg' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia (Plurinational State of)'
 'Bonaire, Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile' 'China'
 'China, mainland' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba' 'Curaçao' 'Cyprus'
 'Czechia' 'Czechoslovakia' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Falkland Islands (Malvinas)' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guyana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico'
 'Micronesia (Federated States of)' 'Monaco' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles (former)' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norfolk Island'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman'
 'Pacific Islands Trust Territory' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Pitcairn' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'South Korea' 'Republic of Moldova'
 'Réunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena, Ascension and Tristan da Cunha' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Saint-Martin (French part)' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Sudan (former)' 'Suriname' 'Svalbard and Jan Mayen Islands' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Republic of Tanzania' 'United States'
 'United States Virgin Islands' 'Uruguay' 'USSR' 'Uzbekistan' 'Vanuatu'
 'Venezuela (Bolivarian Republic of)' 'Vietnam'
 'Wallis and Futuna Islands' 'Western Sahara' 'Yemen' 'Yugoslav SFR'
 'Zambia' 'Zimbabwe']

In [ ]:
data = pd.merge(data, forest, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15500 entries, 0 to 15499
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  15500 non-null  object
 1   Year     15500 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 847.7+ KB

In [ ]:
path = '/content/Co2/GDP.xls'

with open(path,'rb') as file:
    ole = OleFileIO_PL.OleFileIO(file)
    if ole.exists('Workbook'):
        d = ole.openstream('Workbook')
        df2 = pd.read_excel(d,engine='xlrd')

df2 = df2.drop(df2.index[0])
df2 = df2.drop(df2.columns[-6:], axis = 1)

df2.set_index('GDP, current prices (Billions of U.S. dollars)', inplace = True)
col = list(df2.columns)
index = list(df2.index)

gdp = {'Country': [], 'Year': [], 'GDP': []}

for j in index:
  for i in col:
    gdp['Country'].append(j)
    gdp['Year'].append(i)
    gdp['GDP'].append(df2[i][j])

gdp = pd.DataFrame(gdp)
gdp['Year'] = gdp['Year'].astype(int)
gdp['Country'] = gdp['Country'].astype(str)
china = gdp['Country'] == "China, People's Republic of"
gdp.loc[china, 'Country'] = 'China'
han = gdp['Country'] == "Korea, Republic of"
gdp.loc[han, 'Country'] = 'South Korea'
russia = gdp['Country'] == 'Russian Federation'
gdp.loc[russia, 'Country'] = 'Russia'

print(gdp['Country'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo, Dem. Rep. of the' 'Congo, Republic of ' 'Costa Rica' 'Croatia'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong SAR' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'South Korea' 'Kosovo' 'Kuwait' 'Kyrgyz Republic'
 'Lao P.D.R.' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania'
 'Luxembourg' 'Macao SAR' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. States of' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia ' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovak Republic' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan, Republic of' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'São Tomé and Príncipe'
 'Taiwan Province of China' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe'
 'Africa (Region)' 'Asia and Pacific' 'Australia and New Zealand'
 'Caribbean' 'Central America' 'Central Asia and the Caucasus' 'East Asia'
 'Eastern Europe ' 'Europe' 'Middle East (Region)' 'North Africa'
 'North America' 'Pacific Islands ' 'South America' 'South Asia'
 'Southeast Asia' 'Sub-Saharan Africa (Region) ' 'Western Europe'
 'Western Hemisphere (Region)' 'ASEAN-5' 'Advanced economies'
 'Emerging and Developing Asia' 'Emerging and Developing Europe'
 'Emerging market and developing economies' 'Euro area' 'European Union'
 'Latin America and the Caribbean' 'Major advanced economies (G7)'
 'Middle East and Central Asia' 'Other advanced economies'
 'Sub-Saharan Africa' 'World' 'nan' '©IMF, 2021']

In [ ]:
data = pd.merge(data, gdp, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17582 entries, 0 to 17581
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  17582 non-null  object
 1   Year     17582 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.1+ MB

In [ ]:

df3 = pd.read_csv('/content/Co2/industry(contruction).csv', skiprows =4, index_col=None)

df3 = df3.drop(df3.columns[1:5], axis = 1)
df3 = df3.drop(df3.columns[[-1]], axis = 1)

df3.set_index('Country Name', inplace = True)
col = list(df3.columns)
index = list(df3.index)

icva = {'Country': [], 'Year': [], 'ICVA': []}

for j in index:
  for i in col:
    icva['Country'].append(j)
    icva['Year'].append(i)
    icva['ICVA'].append(df3[i][j])
    
icva = pd.DataFrame(icva)
icva['ICVA'] = icva['ICVA'].astype(int, errors = 'ignore')
icva['Year'] = icva['Year'].astype(int)
icva['Country'] = icva['Country'].astype(str)

han = icva['Country'] == 'Korea, Rep.'
icva.loc[han, 'Country'] = 'South Korea'

iran = icva['Country'] == 'Iran, Islamic Rep.'
icva.loc[iran, 'Country'] = 'Iran'
russia = icva['Country'] == 'Russian Federation'
icva.loc[russia, 'Country'] = 'Russia'
print(icva['Country'].unique())

['Aruba' 'Africa Eastern and Southern' 'Afghanistan'
 'Africa Western and Central' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Central Europe and the Baltics'
 'Switzerland' 'Channel Islands' 'Chile' 'China' "Cote d'Ivoire"
 'Cameroon' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros'
 'Cabo Verde' 'Costa Rica' 'Caribbean small states' 'Cuba' 'Curacao'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (excluding high income)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'Europe & Central Asia (excluding high income)' 'Europe & Central Asia'
 'Ecuador' 'Egypt, Arab Rep.' 'Euro area' 'Eritrea' 'Spain' 'Estonia'
 'Ethiopia' 'European Union' 'Fragile and conflict affected situations'
 'Finland' 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guam' 'Guyana' 'High income' 'Hong Kong SAR, China'
 'Honduras' 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti'
 'Hungary' 'IBRD only' 'IDA & IBRD total' 'IDA total' 'IDA blend'
 'Indonesia' 'IDA only' 'Isle of Man' 'India' 'Not classified' 'Ireland'
 'Iran' 'Iraq' 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan'
 'Kazakhstan' 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati'
 'St. Kitts and Nevis' 'South Korea' 'Kuwait'
 'Latin America & Caribbean (excluding high income)' 'Lao PDR' 'Lebanon'
 'Liberia' 'Libya' 'St. Lucia' 'Latin America & Caribbean'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Late-demographic dividend' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'St. Martin (French part)' 'Morocco' 'Monaco'
 'Moldova' 'Madagascar' 'Maldives' 'Middle East & North Africa' 'Mexico'
 'Marshall Islands' 'Middle income' 'North Macedonia' 'Mali' 'Malta'
 'Myanmar' 'Middle East & North Africa (excluding high income)'
 'Montenegro' 'Mongolia' 'Northern Mariana Islands' 'Mozambique'
 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia' 'North America' 'Namibia'
 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway'
 'Nepal' 'Nauru' 'New Zealand' 'OECD members' 'Oman' 'Other small states'
 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea'
 'Poland' 'Pre-demographic dividend' 'Puerto Rico'
 "Korea, Dem. People's Rep." 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'Post-demographic dividend'
 'French Polynesia' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'South Asia'
 'Saudi Arabia' 'Sudan' 'Senegal' 'Singapore' 'Solomon Islands'
 'Sierra Leone' 'El Salvador' 'San Marino' 'Somalia' 'Serbia'
 'Sub-Saharan Africa (excluding high income)' 'South Sudan'
 'Sub-Saharan Africa' 'Small states' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad'
 'East Asia & Pacific (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Togo' 'Thailand'
 'Tajikistan' 'Turkmenistan'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Timor-Leste'
 'Middle East & North Africa (IDA & IBRD countries)' 'Tonga'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda'
 'Ukraine' 'Upper middle income' 'Uruguay' 'United States' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'British Virgin Islands'
 'Virgin Islands (U.S.)' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [ ]:
data = pd.merge(data, icva, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21944 entries, 0 to 21943
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  21944 non-null  object
 1   Year     21944 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.5+ MB

In [ ]:
elecc = pd.read_csv('/content/Co2/elec-mix-bar.csv')
elecc = elecc.drop(elecc.columns[[1]], axis = 1)
elecc = elecc.rename(columns = {'Entity':'Country'})
elecc['ElecC'] = elecc[elecc.columns[[2, 3, 4]]].sum(axis = 1)
elecc = elecc.drop(elecc.columns[[2, 3, 4]], axis = 1)

elecc.info()
print(elecc['Year'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  6241 non-null   object
 1   Year     6241 non-null   int64
 2   ElecC    6241 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 146.4+ KB
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 1985 1986 1987 1988 1989 1990 1991 1992
 1993 1994 1995 1996 1997 1998 1999 2020]

In [ ]:
data = pd.merge(data, elecc, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22711 entries, 0 to 22710
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  22711 non-null  object
 1   Year     22711 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.7+ MB

In [ ]:
elecg = pd.read_csv('/content/Co2/electricity-generation.csv')
elecg = elecg.drop(elecg.columns[[1]], axis = 1)
elecg = elecg.rename(columns = {'Entity':'Country', 'Electricity Generation (TWh)': 'ElecG'})
elecg.info()
print(elecg['Year'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  6241 non-null   object
 1   Year     6241 non-null   int64
 2   ElecG    6241 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 146.4+ KB
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 1985 1986 1987 1988 1989 1990 1991 1992
 1993 1994 1995 1996 1997 1998 1999 2020]

In [ ]:
data = pd.merge(data, elecg, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22711 entries, 0 to 22710
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  22711 non-null  object
 1   Year     22711 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
 9   ElecG    6241 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.9+ MB

In [ ]:
ffc = pd.read_csv('/content/Co2/fossil-fuel-primary-energy.csv')
ffc = ffc.drop(ffc.columns[[1]], axis = 1)
ffc = ffc.rename(columns = {'Entity':'Country', 'Fossil Fuels (TWh)': 'FFC'})
ffc.info()
print(ffc['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4284 non-null   object
 1   Year     4284 non-null   int64
 2   FFC      4284 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 100.5+ KB
['Africa' 'Algeria' 'Argentina' 'Australia' 'Austria' 'Azerbaijan'
 'Bangladesh' 'Belarus' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Croatia' 'Cyprus' 'Czechia' 'Denmark' 'Ecuador'
 'Egypt' 'Estonia' 'Europe' 'Finland' 'France' 'Germany' 'Greece'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan' 'Kuwait' 'Latvia'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Mexico' 'Morocco' 'Netherlands'
 'New Zealand' 'North America' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Saudi Arabia' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa'
 'South Korea' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland' 'Taiwan'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'World']

In [ ]:
data = pd.merge(data, ffc, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22806 entries, 0 to 22805
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  22806 non-null  object
 1   Year     22806 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
 9   ElecG    6241 non-null   float64
 10  FFC      4284 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 2.1+ MB

In [ ]:

nec = pd.read_csv('/content/Co2/primary-energy-nuclear.csv')
nec = nec.drop(nec.columns[[1]], axis = 1)
nec = nec.rename(columns = {'Entity':'Country'})
nec = nec.rename(columns = {'Nuclear (TWh – sub method)': 'NEC'})
nec.info()
print(nec['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4290 entries, 0 to 4289
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4290 non-null   object
 1   Year     4290 non-null   int64
 2   NEC      4290 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 100.7+ KB
['Africa' 'Algeria' 'Argentina' 'Australia' 'Austria' 'Azerbaijan'
 'Bangladesh' 'Belarus' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Croatia' 'Cyprus' 'Czechia' 'Denmark' 'Ecuador'
 'Egypt' 'Estonia' 'Europe' 'Finland' 'France' 'Germany' 'Greece'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan' 'Kuwait' 'Latvia'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Mexico' 'Morocco' 'Netherlands'
 'New Zealand' 'North America' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Saudi Arabia' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa'
 'South Korea' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland' 'Taiwan'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'World']

In [ ]:
data = pd.merge(data, nec, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22806 entries, 0 to 22805
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  22806 non-null  object
 1   Year     22806 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
 9   ElecG    6241 non-null   float64
 10  FFC      4284 non-null   float64
 11  NEC      4290 non-null   float64
dtypes: float64(8), int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:
rec = pd.read_csv('/content/Co2/primary-energy-renewables.csv')
rec = rec.drop(rec.columns[[1]], axis = 1)
rec = rec.rename(columns = {'Entity':'Country', 'Renewables (TWh – sub method)': 'REC'})

rec.info()
print(rec['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4290 entries, 0 to 4289
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4290 non-null   object
 1   Year     4290 non-null   int64
 2   REC      4290 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 100.7+ KB
['Africa' 'Algeria' 'Argentina' 'Australia' 'Austria' 'Azerbaijan'
 'Bangladesh' 'Belarus' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Croatia' 'Cyprus' 'Czechia' 'Denmark' 'Ecuador'
 'Egypt' 'Estonia' 'Europe' 'Finland' 'France' 'Germany' 'Greece'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan' 'Kuwait' 'Latvia'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Mexico' 'Morocco' 'Netherlands'
 'New Zealand' 'North America' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Saudi Arabia' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa'
 'South Korea' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland' 'Taiwan'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'World']

In [ ]:
data = pd.merge(data, rec, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22806 entries, 0 to 22805
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  22806 non-null  object
 1   Year     22806 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
 9   ElecG    6241 non-null   float64
 10  FFC      4284 non-null   float64
 11  NEC      4290 non-null   float64
 12  REC      4290 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.4+ MB

In [ ]:
tec = pd.read_csv('/content/Co2/primary-energy-cons.csv')
tec = tec.drop(tec.columns[[1]], axis = 1)
tec = tec.rename(columns = {'Entity':'Country', 'Primary energy consumption (TWh)': 'TEC'})
tec.info()
print(tec['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10134 entries, 0 to 10133
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  10134 non-null  object
 1   Year     10134 non-null  int64
 2   TEC      10134 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 237.6+ KB
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia Pacific'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burma'
 'Burundi' 'CIS' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Cayman Islands' 'Central African Republic' 'Central America' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Czechoslovakia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Eastern Africa' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'Europe (other)' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland'
 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Macau' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mexico' 'Middle Africa'
 'Middle East' 'Moldova' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'Netherlands Antilles' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger'
 'Nigeria' 'Niue' 'North America' 'North Korea' 'North Macedonia'
 'Northern Mariana Islands' 'Norway' 'OPEC' 'Oman' 'Other Asia & Pacific'
 'Other CIS' 'Other Caribbean' 'Other Middle East' 'Other Northern Africa'
 'Other South America' 'Other Southern Africa' 'Pakistan' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South & Central America' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'USSR' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Pacific Islands' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Western Africa'
 'Western Sahara' 'World' 'Yemen' 'Yugoslavia' 'Zambia' 'Zimbabwe']

In [ ]:
data = pd.merge(data, tec, how = 'outer', on = ['Country', 'Year'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23501 entries, 0 to 23500
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  23501 non-null  object
 1   Year     23501 non-null  int64
 2   Pop      2585 non-null   float64
 3   Pop_den  2585 non-null   float64
 4   CO2      13248 non-null  object
 5   Forest   7139 non-null   float64
 6   GDP      9348 non-null   object
 7   ICVA     9857 non-null   float64
 8   ElecC    6241 non-null   float64
 9   ElecG    6241 non-null   float64
 10  FFC      4284 non-null   float64
 11  NEC      4290 non-null   float64
 12  REC      4290 non-null   float64
 13  TEC      10134 non-null  float64
dtypes: float64(10), int64(1), object(3)
memory usage: 2.7+ MB

In [ ]:
data.head()

  Country  Year           Pop  Pop_den  ...        FFC      NEC       REC        TEC
0   China  2020  1.439324e+09    153.0  ...        NaN      NaN       NaN        NaN
1   China  2019  1.433784e+09    153.0  ...  33512.486  863.457  4984.982  39360.925
2   China  2018  1.427648e+09    152.0  ...  32388.702  733.188  4592.223  37714.113
3   China  2017  1.421022e+09    151.0  ...  31527.347  620.250  4194.580  36342.177
4   China  2016  1.414049e+09    151.0  ...  30872.326  536.100  3855.695  35264.122

[5 rows x 14 columns]

In [ ]:
data.to_csv('/content/Co2/data.csv')